<div id="client-new" style="margin: 20px;">
  <div id="container">
    <h3 class="page-title">EDIT CLIENT</h3>
    <a routerLink="/client-details/{{ client.clntCode }}">Back to Clients Details</a>
    <div id="main-content">
      <div class="row">
        <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
          <!-- <h3 class="text-center">NEW CLIENT</h3> -->
          <span class="form">
            <div class="form-group text-center row" >
              <div class="form-group col-sm-4 col-sm-offset-4">
                <label for="clntType" class="sr-only">Client Type</label>
                <select 
                  class="form-control" 
                  name="clntType" 
                  [ngModel]="client.clntType"
                  disabled
                >
                <option [ngValue]="client.clntType"> {{ client.clntType }} Client </option>
                <option>Individual</option>
                <option>Corporate</option>
                </select>
              </div>
            </div>

            <div class="row">
              <h3 style="margin: 10px">General Info</h3>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="clntMobile">Mobile No</label>
                  <input type="text" class="form-control" name="clntMobile" [ngModel]="client?.clntMobile"
                    placeholder="Mobile No:">
                </div>
                <div class="form-group">
                  <label for="clntEmail">Email Address</label>
                  <input type="text" class="form-control" name="clntEmail" [ngModel]="client?.clntEmail"
                    placeholder="Email Address">
                </div>
                <div class="form-group">
                  <label for="clntLeadDate">Lead Date</label>
                  <input type="date" class="form-control" name="clntLeadDate" [ngModel]="client?.clntLeadDate"
                    placeholder="Lead Date">
                </div>
                <div class="form-group">
                  <label for="clntPostalAddress"> Address</label>
                  <input type="text" class="form-control" name="clntPostalAddress" [ngModel]="client?.clntPostalAddress"
                    placeholder="Postal Address">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="clntPostalCode">P.O. Box</label>
                  <input type="text" class="form-control" name="clntPostalCode" [ngModel]="client?.clntPostalCode"
                    placeholder="Postal Code">
                </div>
                <div class="form-group">
                  <label for="clntCity">City</label>
                  <input type="text" class="form-control" name="clntCity" [ngModel]="client?.clntCity"
                    placeholder="City">
                </div>
                <div class="form-group">
                  <label for="clntState">State</label>
                  <input type="text" class="form-control" name="clntState" [ngModel]="client?.clntState"
                    placeholder="State">
                </div>
                <div class="form-group">
                  <label for="clntCountry">Country</label>
                  <select class="form-control" name="clntCountry" [ngModel]="client?.clntCountry">
                    <option [ngValue]="client.clntCountry">{{ client.clntCountry }}</option>
                    <option *ngFor="let country of countries" [ngValue]="country.couName">{{ country.couName }} </option>
                  </select>
                </div>
              </div>
            </div>

            <hr>

            <div *ngIf="individual" class="row" id="individual">
              <h3 style="margin: 10px;">Personal Info</h3>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="clntTitle">Title</label>
                  <select class="form-control" name="clntTitle" [ngModel]="client.clntTitle">
                    <option [ngValue]="client.clntTitle">{{ client.clntTitle}}</option>
                    <option *ngFor="let t of titles" [ngValue]="t">{{ t }} </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="clntLastname">Lastname</label>
                  <input type="email" name="clntLastname" class="form-control" [ngModel]="client.clntLastname"
                    placeholder="Lastname">
                </div>
                <div class="form-group">
                  <label for="clntOthernames">Other Names</label>
                  <input type="text" name="clntOthernames" class="form-control" [ngModel]="client.clntOthernames"
                    placeholder="Other Names">
                </div>
                <div class="form-group">
                  <label for="clntNationality">Nationality</label>
                  <select class="form-control" name="clntNationality" [ngModel]="client.clntNationality">
                    <option [ngValue]="client.clntNationality">{{ client.clntNationality }}</option>
                    <option *ngFor="let country of countries" [ngValue]="country.couName">{{ country.couName }} </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="clntMaritalStatus">Marital Status</label>
                  <select class="form-control" name="clntMaritalStatus" [ngModel]="client.clntMaritalStatus">
                    <option [ngValue]="client.clntMaritalStatus">{{ client.clntMaritalStatus }}</option>
                    <option>Single</option>
                    <option>Married</option>
                    <option>Divorced</option>
                    <option>Widowed/Widower</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="clntIdType">ID Type</label>
                  <select class="form-control" name="clntIdType" [ngModel]="client.clntIdType">
                    <option value="client.clntIdType">{{ client.clntIdType }}</option>
                    <option>Voter's Card</option>
                    <option>International Passport</option>
                    <option>Driver's License</option>
                    <option>National ID</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="clntIdNo">ID Number</label>
                  <input type="text" name="clntIdNo" class="form-control" [ngModel]="client.clntIdNo">
                </div>
                <div class="form-group">
                  <label for="clntGender">Gender</label>
                  <select class="form-control" [ngModel]="client.clntGender" name="clntGender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="clntDob">Date of Birth</label>
                  <input type="date" class="form-control" [ngModel]="client.clntDob" name="clntDob" placeholder="D.O.B">
                </div>
                <div class="form-group">
                  <label for="clntOccupation">Occupation</label>
                  <select class="form-control" name="clntOccupation" [(ngModel)]="client.clntOccupation">
                    <option [ngValue]="client.clntOccupation"> {{ client.clntOccupation }} </option>
                    <option *ngFor="let c of occupations" [ngValue]="c.occName">{{ c.occName }} </option>
                  </select>
                </div>
              </div>
            </div>

            <div *ngIf="corporate" class="row " id="corporate">
              <h3 style="margin: 10px;">Company Info</h3>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="clntCompanyName">Company Name:</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    name="clntCompanyName" 
                    [ngModel]="client.clntCompanyName"
                  >
                </div>
                <div class="form-group">
                  <label for="clntRcNo">Registration No.</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    name="clntRcNo" 
                    [ngModel]="client.clntRcNo"
                  >
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="clntSector">Sector</label>
                  <select 
                    class="form-control" 
                    name="clntSector" 
                    [ngModel]="client.clntSector"
                  >
                  <option [ngValue]="client.clntSector"> {{ client.clntSector }} </option>
                  <option *ngFor="let s of sectors" [ngValue]="s.secName">{{ s.secName }} </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="clntDob">Date of Incorporation</label>
                  <input 
                    type="date" 
                    class="form-control" 
                    name="clntDob" 
                    [ngModel]="client.clntDob"
                  >
                </div>
              </div>
            </div>

            <hr>
            <button class="btn btn-info pull-right">Update&nbsp;<span class="glyphicon glyphicon-save"
                aria-hidden="true"></span>
            </button>

          </span>
        </form>

      </div>
    </div>
  </div>
</div>