<div id="content-area">
  <div id="container">
  <h1 class="page-title"> CREATE NEW COVERTYPE</h1>
  <div id="main-content">
   
    <form #covertypeForm="ngForm" (ngSubmit)="onSubmit(covertypeForm)">
        
      <div class="form-group col-sm-6">
          <label for="covtShtDesc" class=" control-label">Covertype Name</label>
          <div >
            <input 
              type="text" 
              class="form-control" 
              name="covtShtDesc" 
              #covertypeName="ngModel"
              [ngClass]="{'is-invalid': covertypeName.errors && covertypeName.touched }"
              [(ngModel)]="covertype.covtShtDesc"
              required
            >
            <div [hidden]="!covertypeName.errors?.required" class="invalid-feedback">
              Covertype Name required
            </div>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="covtCode" class=" control-label">Covertype Code</label>
          <div >
            <input 
            type="text" 
            class="form-control" 
            name="covtCode" 
            #covertypeCode="ngModel"
            [ngClass]="{'is-invalid': covertypeCode.errors && covertypeCode.touched}"
            [(ngModel)]="covertype.covtCode"
            required
          >
          <div [hidden]="!covertypeCode.errors?.required" class="invalid-feedback">
            Class Code required
          </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="covtDesc" class=" control-label">Covertype Description</label>
          <div >
            <input 
            type="text" 
            class="form-control" 
            name="covtDesc" 
            #covertypeDescription="ngModel"
            [ngClass]="{'is-invalid': covertypeDescription.errors && covertypeDescription.touched}"
            [(ngModel)]="covertype.covtDesc"
          >
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="details" class=" control-label">Covertype Details</label>
          <div >
            <input 
            type="text" 
            class="form-control" 
            name="covtDetails" 
            #covertypeDetails="ngModel"
            [ngClass]="{'is-invalid': covertypeDescription.errors && covertypeDescription.touched}"
            [(ngModel)]="covertype.covtDetails"
          >
          </div>
        </div>
        <!-- <div class="form-group col-sm-6">
          <label for="subclassCode" class=" control-label">Subclass Code</label>
          <select 
            class="form-control"
            name="subclassCode"
            [(ngModel)]="subclassCode"
            required
          >
            <option [ngValue]="null">Select</option>
            <option *ngFor="let s of subclassCodes" [ngValue]="s">{{ s }}</option>
          </select>
      </div> -->
        <button class="btn btn-block btn-success">CREATE COVERTYPE</button>
    </form>
  
  
  </div> <!---- end of <div id="main-content">---->
  </div> <!----end of <div id="container">---->
  </div>  <!----end of <div id="content-area">---->