<div id="footer-wrap">
    <div id="container">
    <div class="row">
      <div class="col-md-3">
        <h4>About Us</h4>
        <ul>
        <li><a href="index.html#">About Custodian Group</a></li>
        <li><a href="index.html#">Board of Directors</a></li>
        <li><a href="index.html#">Our Drive and Posture</a></li>
        <li><a href="index.html#">Our Sustainable Stance</a></li>
        </ul>
        </div>
        <div class="col-md-3">
        <h4>Investor Relations</h4>
        <ul>
        <li><a href="index.html#">Financials</a></li>
        <li><a href="index.html#">Custodian Social Responsibility Foundation</a></li>
        <li><a href="index.html#">Policy on Custodian Plc Securities Trading</a></li>
        <li><a href="index.html#">Complaints Management Policy</a></li>
        <li><a href="index.html#">Complaints Lodgment Policy</a></li>
        </ul>
        </div>
       <div class="col-md-3">
       <h4>Resource Center</h4>
        <ul>
        <li><a href="index.html#">Related Links</a></li>
        <li><a href="index.html#">Related News</a></li>
        <li><a href="index.html#">Customer Survey</a></li>
        <li><a href="index.html#">Event Gallery</a></li>
        </ul>
       
       </div>
       <div class="col-md-3">
       <h4>Careers</h4>
        <ul>
        <li><a href="index.html#">Vacancies</a></li>
        <li><a href="index.html#">Application</a></li>
        <li><a href="index.html#">Internship</a></li>
        </ul>
       </div>
    </div>
    </div> <!----end of <div id="container">---->
    </div> <!----end <div id="footer-bg">---->