<div id="top-wrap">
    <div id="logo"><img class="mt-4" src="../../../assets/images/kbc-logo.png" /></div>
      <div id="top-right">
        <ul class="nav nav-pills">
         <li id="space1">
             <a href="http://10.176.18.36:8376/custodian/agent/pendingpay.php"><span style="font-size:20px;" class="glyphicon glyphicon-shopping-cart"
         aria-hidden="true"></span>&nbsp;<span class="badge float-badge">2</span></a>
         </li>
         <li id="space2">
             <a href="http://10.176.18.36:8376/custodian/agent/notifications.php"><span style="font-size:20px;" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        &nbsp;<span class="badge float-badge">5</span></a> 
         </li>
          <li class="dropdown pull-right" id="space3">
          <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown"><span style="font-size:20px;" 
          class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
            <ul class="dropdown-menu"  id="user-prof">
              <li><strong>3</strong></li>
              <li class="divider"></li>
              <li class="logout-li">
                <a href="http://10.176.18.36:8376/custodian/agent/logout.php" class="logout-link">
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                  </span>
                    &nbsp;&nbsp;LogOut
                </a>
              </li>
            </ul>
         </li>
        </ul>
          
  </div> <!-----end of <div id="top-right">---->
  </div> <!----end of <div id="top-wrap">---->
  
  <div id="main-menu">
  <div id="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">HOME</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SETUPS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/class">Class</a></li>
              <li><a routerLink="/subclass">Subclass</a></li>
              <li><a routerLink="/products">Products</a></li>
              <li><a routerLink="/covertypes">Cover Types</a></li>
              <li><a routerLink="/sections">Sections</a></li>
              <li><a routerLink="/clauses">Clauses</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">QUOTES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="newproposal.html">Delete Quotes</a></li>
              <li><a href="proposals.html">View Quotes</a></li>
              <li><a href="proposals.html">Edit Quotes</a></li>
              <li><a href="proposals.html">Delete Quotes</a></li>
              <li><a href="proposals.html">Convert Quotes</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UNDERWRITING<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="newproposal.html">Proposal/Policy</a></li>
              <li><a href="proposals.html">Endorsements</a></li>
              <li><a href="proposals.html">Renewal</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CLAIMS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="index.html#">Create</a></li>
              <li><a href="index.html#">Notfiy</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACCOUNTS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="service-req.html">Pay</a></li> 
              <!-- premium, commission, claims -->
              <li><a href="index.html#">Settle</a></li>
              <!-- Premium Transfer, Claims Transfer -->
            </ul>
          </li>
          <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REPORTS<span class="caret"></span></a>
            <!-- <ul class="dropdown-menu">
               <li><a href="newlead.html">New Lead</a></li>
              <li><a href="viewleads.html">View Leads</a></li>
            </ul> -->
          </li>
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MY ACCOUNT <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="index.html#">My Calendar</a></li>
              <li><a href="index.html#">Notifications</a></li>
              <li><a href="index.html#">My Clients</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div> <!----end of <div id="container">---->
  </div> <!----end of <div id="main-menu">---->
  