<div id="content-area">
    <div id="container">
    <h1 class="page-title"> CREATE NEW CLASS</h1>
    <div id="main-content">
     
      <form #classForm="ngForm" (ngSubmit)="onSubmit(classForm)"> 
          
        <div class="form-group col-sm-6">
            <label for="claCode" class=" control-label">Class Code</label>
            <div >
              <input 
                type="text" 
                class="form-control" 
                name="claCode" 
                #classCode="ngModel"
                [ngClass]="{'is-invalid': classCode.errors && classCode.touched }"
                [(ngModel)]="class.claCode"
                required
              >
              <div [hidden]="!classCode.errors?.required" class="invalid-feedback">
                Class Code required
              </div>
            </div>
          </div>

          <div class="form-group col-sm-6">
            <label for="claShtDesc" class=" control-label">Class Short Description</label>
            <div >
              <input 
              type="text" 
              class="form-control" 
              name="claShtDesc" 
              #classShortDescription="ngModel"
              [ngClass]="{'is-invalid': classShortDescription.errors && classShortDescription.touched}"
              [(ngModel)]="class.claShtDesc"
              required
            >
            <div [hidden]="!classShortDescription.errors?.required" class="invalid-feedback">
              Class Short Description required
            </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label for="claDesc" class=" control-label">Class Description</label>
            <div >
              <input 
              type="text" 
              class="form-control" 
              name="claDesc" 
              #classDescription="ngModel"
              [ngClass]="{'is-invalid': classDescription.errors && classDescription.touched}"
              [(ngModel)]="class.claDesc"
            >
            </div>
          </div>
          <button class="btn btn-block btn-success">CREATE CLASS</button>
      </form>
    
    
    </div> <!---- end of <div id="main-content">---->
    </div> <!----end of <div id="container">---->
    </div>  <!----end of <div id="content-area">---->