<div id="content-area">
    <div id="container">
    <h1 class="page-title"> CREATE NEW CLAUSE</h1>
    <div id="main-content">
     
      <form #clauseForm="ngForm" (ngSubmit)="onSubmit(clauseForm)">
          <div class="form-group col-sm-6">
            <label for="name" class=" control-label">Clause Name</label>
            <div >
              <input 
                type="text" 
                class="form-control" 
                name="clsShtDesc" 
                [(ngModel)]="clause.clsShtDesc"
                #clauseName="ngModel"
                [ngClass]="{'is-invalid': clauseName.errors && clauseName.touched}"
                required
              >
              <div [hidden]="!clauseName.errors?.required" class="invalid-feedback">
                  Clause Name required
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="code" class=" control-label">Clause Code</label>
            <div >
              <input 
                type="text" 
                class="form-control" 
                name="clsCode" 
                [(ngModel)]="clause.clsCode"
                #clauseCode="ngModel"
                [ngClass]="{'is-invalid': clauseCode.errors && clauseCode.touched}"
                required
              >
              <div [hidden]="!clauseCode.errors?.required" class="invalid-feedback">
                  Clause Code required
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="type" class=" control-label">Clause Type</label>
            <div >
              <input 
                type="text" 
                class="form-control" 
                name="clsType" 
                [(ngModel)]="clause.clsType"
              >
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="heading" class=" control-label">Clause Heading</label>
            <div >
              <input 
                type="text" 
                class="form-control" 
                name="clsHeading" 
                [(ngModel)]="clause.clsHeading"
                >
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label for="wording" class=" control-label">Clause Wording</label>
            <div >
                <textarea 
                  class="form-control"  
                  name="clsWording" 
                  [(ngModel)]="clause.clsWording"
                  >
                </textarea>
            </div>
          </div>
          <button class="btn btn-block btn-success"> CREATE CLAUSE</button>
      </form>
    
    
    </div> <!---- end of <div id="main-content">---->
    </div> <!----end of <div id="container">---->
    </div>  <!----end of <div id="content-area">---->