

<div id="content-area">
    <div id="container">
    <div id="shortcuts">
      <div id="short-1">
        <div class="s-left"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></div>
        <div class="s-right"><a href="index.html#">NEW PROPOSAL</a></div>
        </div>
        <div id="short-2">
        <div class="s-left"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
        <div class="s-right"><a href="index.html#">VIEW PROPOSAL</a></div>
        </div>
        <div id="short-3">
        <div class="s-left"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></div>
        <div class="s-right"><a href="index.html#">VIEW POLICIES</a></div>
        </div>
        <div id="short-4">
        <div class="s-left"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></div>
        <div class="s-right"><a href="index.html#">NEW CLAIM</a></div>
        </div>
    </div> <!----end of <div id="shortcuts">---->
    
    
    <div id="to-do" [style.visibility]="siteName === 'DEVELOPMENT' ? 'visible' : 'hidden'">
    <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;TO DO LIST</h4>
    
        <ul class="todo-list">
                    <li>
                      <!-- drag handle -->
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      <!-- checkbox -->
                      <input value="" type="checkbox">
                      <!-- todo text -->
                      <span class="text">Meeting with Jane Doe</span>
                      <!-- Emphasis label -->
                      <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                      <!-- General tools such as edit or delete-->
                      <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                      </div>
                    </li>
                    <li>
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      <input value="" type="checkbox">
                      <span class="text">Attend Insurance Seminar</span>
                      <small class="label label-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                      <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                      </div>
                    </li>
                    <li>
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      <input value="" type="checkbox">
                      <span class="text">Meeting with Mary Doe</span>
                      <small class="label label-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                      <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                      </div>
                    </li>
                    <li>
                          <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>
                      <input value="" type="checkbox">
                      <span class="text">Product lauch in Lagos</span>
                      <small class="label label-success"><i class="fa fa-clock-o"></i> 3 days</small>
                      <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                      </div>
                    </li>
                    
              </ul>
              <nav aria-label="Page navigation">
              <ul class="pagination pull-left" style="margin:0 0 0 0;">
                <li>
                  <a href="index.html#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="index.html#">1</a></li>
                <li><a href="index.html#">2</a></li>
                <li><a href="index.html#">3</a></li>
                <li>
                  <a href="index.html#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
              <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add item</button>      
                  
    
    </div> <!----end of <div id="to-do">---->
    <div id="service-req" [style.visibility]="siteName === 'DEVELOPMENT' ? 'visible' : 'hidden'">
    <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;SERVICE REQUEST</h4>
    <form>
      <div class="form-group">
        <select class="form-control">
          <option>Request Category</option>
          <option>Policy Cancellations</option>
          <option>Policy Renewals</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject">
      </div>
      <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-default pull-right">Send<span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
    </form>
    
    </div> <!----end of <div id="service-req">--  -->
    
    </div> <!----end of <div id="container">---->
    </div>  <!----end of <div id="content-area">---->