<div id="content-area">
    <div id="container">
    <h1 class="page-title"> CLASS SETUPS</h1>
    <div id="main-content">
     <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="classCode">Class Code</label>
        <input type="text" class="form-control" id="classCode" placeholder="Class Code">
      </div>
      <div class="form-group">
        <label class="sr-only" for="class_code">Class Code</label>
        <input type="password" class="form-control" id="className" placeholder="Class Name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="classDescription">Class Description</label>
        <input type="password" class="form-control" id="classDescription" placeholder="Class Description">
      </div>    
      
      <button type="submit" class="btn btn-primary">Search</button>
      <a class="btn btn-success" id="new-class" href="/class-add">New Class</a>
      
      <div class="table-responsive" style="margin-top:30px;">
      <table *ngIf='classes?.length > 0 ; else noClasses' class="table table-hover">
        <tr>
        <th>Class Code</th>
        <th>Short Description</th>
        <th>Description</th>
        </tr>
        <tr *ngFor="let class of classes">
        <td>{{ class.claCode }}</td>
        <td>{{ class.claShtDesc }}</td>
        <td>{{ class.claDesc }}</td>
        <td><a routerLink="/class-edit/{{ class.claCode }}" class="btn btn-secondary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a></td>
        <td><a (click)="delete(class)" class="btn btn-secondary"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a></td>
        </tr>
      </table>

      <ng-template #noClasses>
        <h5>There are no classes  in the system</h5> 
      </ng-template>

    </div>
    </form>
    
    
    
    </div> <!---- end of <div id="main-content">---->
    </div> <!----end of <div id="container">---->
    </div>  <!----end of <div id="content-area">---->