
<div id="content-area">
  <div id="container">
  <h1 class="page-title"> QUOTE DETAILS <small>({{ quotation.quotNo }})</small></h1>
  <div id="main-content">
   <div class="row">
  
   <form #quotationForm="ngForm" (ngSubmit)="onSubmit(quotationForm)"> 
    <div class="col-md-6">
    <div class="form-group">
      <label for="client">Client</label>
      <select 
        class="form-control"
        name="quotClntCode"
        [(ngModel)]="quotation.quotClntCode" 
        required
      >
      <option [ngValue]="quotation.quotClntCode">{{ quotation.quotClntCode }}</option>
      <option *ngFor="let q of quotClntCodes" [ngValue]="q.code">{{ q.code }} | {{ q.name }} ({{ q.email }}) </option>
      </select>
    </div>
    <div class="form-group">
      <label for="agent">Agent</label>
      <select 
        class="form-control"
        name="quotAgntCode"
        [(ngModel)]="quotation.quotAgntCode" 
        required
      >
      <option [ngValue]="quotation.quotAgntCode">{{ quotation.quotAgntCode }}</option>
      <option *ngFor="let c of quotClntCodes" [ngValue]="c.code">{{ c.name }} </option>
      </select>
    </div>
    <div class="form-group">
      <label for="source">Source</label>
      <select 
        class="form-control"
        name="quotSource"
        [(ngModel)]="quotation.quotSource" 
        required
      >
        <option [ngValue]="quotation.quotSource">{{ quotation.quotSource }}</option>
        <option *ngFor="let s of sources" [ngValue]="s">{{ s }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="branch">Branch</label>
      <select 
        class="form-control"
        name="quotBranch"
        [(ngModel)]="quotation.quotBranch" 
        required
      >
      <option [ngValue]="quotation.quotBranch">{{ quotation.quotBranch }}</option>
      <option *ngFor="let b of branches" [ngValue]="b">{{ b }}</option>
      </select>
    </div>  
    </div>
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="currency">Currency</label>
        <select 
          class="form-control"
          name="quotCurSymbol"
          [(ngModel)]="quotation.quotCurSymbol" 
          required
        >
          <option [ngValue]="quotation.quotCurSymbol"> {{ quotation.quotCurSymbol }} </option>
          <option *ngFor="let c of currencies" [ngValue]="c.shtDesc">{{ c.symbol + ' | ' + c.name + ' | ' + c.shtDesc }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="coverFrom">Cover From</label>
        <input 
          type="date" 
          class="form-control"
          name="quotCoverFrom"
          #quotationCoverFrom="ngModel"
          [(ngModel)]="quotation.quotCoverFrom" 
          required
        >
      </div>
      <div class="form-group">
          <label for="coverTo">Cover To</label>
          <input 
            type="date" 
            class="form-control"
            name="quotCoverTo"
            #quotationCoverTo="ngModel"
            [(ngModel)]="quotation.quotCoverTo" 
            required
          >
        </div>
      <div class="form-group">
        <label for="paymentFrequency">Payment Frequency</label>
        <select 
          class="form-control"
          name="quotPaymentFrequency"
          [(ngModel)]="quotation.quotPaymentFrequency" 
          required
        >
          <option [ngValue]="quotation.quotPaymentFrequency"> {{ quotation.quotPaymentFrequency }} </option>
          <option *ngFor="let p of paymentFrequencies" [ngValue]="p">{{ p }}</option>
        </select>
      </div> 
      </div> 
    
    <div id="rule"></div>      
   <!-- <a routerLink="/quote-products-add" type="button" class="btn btn-info pull-right">Next&nbsp;<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a> -->
   <button  class="btn btn-info pull-right">Update&nbsp;
     <!-- <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> -->
    </button>
    </form>
  </div>
  
    
  </div> <!---- end of <div id="main-content">---->
  </div> <!----end of <div id="container">---->
  </div>  <!----end of <div id="content-area">---->
  