<div id="content-area">

    <div class="container">
      <a routerLink="/vendors">Back to Vendors</a>
      <div id="main-content">
        <div class="table-responsive">
          <!-- Tbl Respons -->
          <table class="table table-bordered">
            <tr>
              <th> <small>Company Name: </small> {{ underwriter?.undCompanyName }}</th>
              <th> <small>Email: </small> {{ underwriter?.undEmail }}</th>
              <th> <small>Phone: </small> {{ underwriter?.undMobile }}</th>
            </tr>
            <tr>
              <th> <small>Account No: </small> {{ underwriter?.undAccountNo }}</th>
              <th> <small>Bank Name: </small> {{ underwriter?.undBankName}} ({{ underwriter?.undBankBranch }}) </th>
              <th> <small>Payment Method: </small> {{ underwriter?.undPaymentMethod }}</th>
            </tr>
            <tr>
              <th> <small>PENCOM No: </small> {{ underwriter?.undPencomNo }}</th>
              <th> <small>Registration No: </small> {{ underwriter?.undRegNo }}</th>
              <th></th>
            </tr>
            <tr>
              <th><small>Address: </small> {{ underwriter?.undPostalAddress }}, {{ underwriter?.undCity }}, {{ underwriter?.undState }}</th>
              <th><small>P.O.Box: </small> {{ underwriter?.undPostalCode }} </th>
              <th><small>Country: </small> {{ underwriter?.undCountry }}</th>
            </tr>
          </table>
  
          <!-- <span *ngIf="corporate">
              <h3 class="text-secondary" style="margin: 30px 0 10px 0 ;">Contact Person</h3>
              <table class="table table-bordered">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile</th>
                  <th>Birthday</th>
                </tr>
                <tr>
                  <td>{{ client?.clntContactFirstname }} {{ client?.clntContactLastname }}</td>
                  <td>{{ client?.clntContactEmail }}</td>
                  <td>{{ client?.clntContactMobile }}</td>
                  <td>{{ client?.clntContactBirthday }}</td>
                </tr>
              </table>
          </span> -->
  
        </div><!-- Tbl Respons -->
        <div class="buttons" style="float:right">
          <a routerLink="/underwriter-edit/{{ underwriter?.undCode }}" class="btn btn-success" style="margin: 0 5px">Edit
            Underwriter</a>
          <button (click)="deleteUnderwriter(underwriter)" class="btn btn-danger">Delete Underwriter</button>
        </div>
      </div>
    </div>
  </div>
  