/* .form {
  border: solid 1px #eee;
  background: #eee;
} */
.col-md-9 {
  border: solid 1px #eee;
  border-radius: 10px;
  padding: 10px;
  background: #EEECEC;
}

.form-group {
  margin: 10px;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

li:hover {
  cursor: pointer;
  background: #eee;
}

.menu {
  background: #fff;
}



.table {
  width: 100%;
}

.table td, th {
  border: solid 1px #fff;
  /* background: #eee; */
  /* min-width: 10%; */
  padding: 10px;
  border: solid 2px #fff;
}

.clients:hover, .underwriters:hover, .users:hover {
  background: #fff;
  cursor: pointer;
}

.tab-content {
  margin: 20px 0;
}
/* Horizontal List Group */
/* .list-group-item {
  padding: 10px 40px;
}
.list-group-horizontal .list-group-item
{
	display: inline-block;
}
.list-group-horizontal .list-group-item
{
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
 	border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child
{
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child
{
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
	border-right-width: 1px;
} */
