<div id="content-area">
    <div id="container">
    <h1 class="page-title"> SECTION DETAILS </h1>
    <div id="main-content">
      
        <div class="panel panel-default"><!-- Pn1  -->
          <div class="panel-heading panel-grey-head">
            <h3 class="panel-title panel-grey-title" style="color:#333; font-size:15px; margin:0px !important;">CLASS INFO</h3>
          </div>
          <div class="panel-body"><!-- Pn1 Bdy -->
             <div class="table-responsive"><!-- Table responsive -->
            <table class="table table-striped table-condensed ">
             <tr>
                <td><strong>Section Code</strong></td>
                <td>{{ section?.code }}</td>
              </tr>
              <tr>
                <td><strong>Section Name</strong></td>
                <td>{{ section?.name }}</td>
              </tr>
              <tr>
                <td><strong>Section Description</strong></td>
                <td>{{ section?.description }}</td>
              <tr>
                <td><strong>Section Type</strong></td>
                <td>{{ section?.type }}</td>
              </tr>  
              <tr>
                <td><strong>Section Cover Type</strong></td>
                <td>{{ section?.covertypeCode }}</td>
              </tr>   			    
            </table>
          </div><!-- Table responsive -->
          </div><!-- Pn1 Bdy -->
        </div><!-- Pn1  -->
    
        <div id="buttons">
          <a routerLink="/section-edit/{{ id }}" class="btn btn-success">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Edit Section
          </a>
    
          <button (click)="onDeleteClick()" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            Delete Section
          </button>
      </div>
    
    </div> <!---- end of <div id="main-content">---->
  </div> <!----end of <div id="container">---->
  </div>  <!----end of <div id="content-area">---->