<div id="content-area">
    <div id="container">
    <h1 class="page-title"> SETIONS SETUPS</h1>
    <div id="main-content">
     <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="code">Section Code</label>
        <input type="text" class="form-control" id="code" placeholder="Section Code">
      </div>
      <div class="form-group">
        <label class="sr-only" for="name">Section Name</label>
        <input type="text" class="form-control" id="name" placeholder="Section Name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="description">Section Description</label>
        <input type="text" class="form-control" id="description" placeholder="Section Description">
      </div>    
      
      <button type="submit" class="btn btn-primary">Search</button>
      <a class="btn btn-success" id="new-class" href="/section-add">New Section</a>
      
      <div class="table-responsive" style="margin-top:30px;">
      <table *ngIf="sections?.length > 0; else noSections" class="table table-hover">
        <tr>
        <th> Code</th>
        <th> Section Name</th>
        <th>Description</th>
        <th>Section Type</th>
        <th>Section Cover Type</th>
        <th>Premium Rate</th>
        <th>Division Factor</th>
        <th>Details</th>
        </tr>
        <tr *ngFor="let section of sections">
        <td>{{ section.code }}</td>
        <td>{{ section.name }}</td>
        <td>{{ section.description}}</td>
        <td>{{ section.type }}</td>
        <td>{{ section.covertypeCode }}</td>
        <td>{{ section.premiumRate }}</td>
        <td>{{ section.rateDivisionFactor }}</td>
        <td><a routerLink="/section-details/{{ section.id }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a></td>
      </table>
      <ng-template>
        <h5>There are no sections in the system.</h5>
      </ng-template>
    </div>
    </form>
    
    
    
    </div> <!---- end of <div id="main-content">---->
    </div> <!----end of <div id="container">---->
    </div>  <!----end of <div id="content-area">---->