<div id="content-area">
    <div id="container">
    <h1 class="page-title"> IDs SETUPS</h1>
    <div id="main-content">
     <form class="form-inline" #idForm="ngForm" (ngSubmit)="onSubmit(idForm)">
      <div class="form-group">
        <label class="sr-only" for="classCode">ID Code</label>
        <input 
          type="number" 
          class="form-control" 
          name="idCode" 
          placeholder="ID Code"
          [(ngModel)]="idCode"
          #code="ngModel"
          [ngClass]="{'is-invalid': code.errors && code.touched}"
          required
        >
      </div>

      <div class="form-group">
        <label class="sr-only" for="idName">ID Name</label>
        <input 
          type="text" 
          class="form-control" 
          name="idName" 
          placeholder="ID Name"
          [(ngModel)]="idName"
          #name="ngModel"
          [ngClass]="{'is-invalid': name.errors && name.touched}"
          required
        >
      </div>

      <div class="form-group">
        <label class="sr-only" for="idType">ID Type</label>
        <select 
            class="form-control"
            name="idType"
            placeholder="ID Type"
            [(ngModel)] = "idType"
            #type = "ngModel"
            [ngClass]="{'is-invalid': type.errors && type.touched}"
            required
          >
            <option [ngValue]="null">Select</option>
            <option *ngFor="let idType of idTypes" [ngValue]="idType">{{ idType }}</option>
          </select>
      </div>    
      
      <!-- <button type="submit" class="btn btn-primary">Search</button> -->
      <button type="submit" class="btn btn-success">Add ID</button>
      
      <div class="table-responsive" style="margin-top:30px;">
      <table *ngIf='ids?.length > 0 ; else noIds' class="table table-hover">
        <tr>
        <th>ID Code</th>
        <th>ID Name</th>
        <th>ID Type</th>
        </tr>
        <tr *ngFor="let id of ids">
        <td>{{ id.idCode }}</td>
        <td>{{ id.idName }}</td>
        <td>{{ id.idType }}</td>
        <td><a (click)="delete(id)" class="btn btn-secondary"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a></td>
        </tr>
      </table>

      <ng-template #noIds>
        <h5>There are no ids in the system</h5> 
      </ng-template>

    </div>
    </form>
    
    
    
    </div> <!---- end of <div id="main-content">---->
    </div> <!----end of <div id="container">---->
    </div>  <!----end of <div id="content-area">---->