.form-group {
  margin-right: 10px;
  margin-bottom: 10px;
}

.new-policy {
  /* margin-left: 20px; */
  float: right;
}

.label {
  padding: 5px 10px;
  margin: 5px 1px;
}

li {
  padding: 10px;
  margin: 1px;
  
}
.table td, th {
  border: solid 1px #fff;
  background: #eee;
  /* min-width: 10%; */
  padding: 10px;
}