<div id="content-area">
    <div id="container">
    <h1 class="page-title">  {{subclass.sclName }} </h1>
    <div id="main-content">

        <div class="panel panel-default">
            <div class="panel-heading panel-grey-head">
              <h3 class="panel-title panel-grey-title text-bold"><strong>ID SETUP</strong></h3>
            </div>
            <div class="panel-body">
              <form class="form-inline">
                <div class="form-group">
                    <input 
                      type="text" 
                      class="form-control" 
                      name="idName" 
                      id="idName"
                      placeholder="ID Name"
                    >
                </div>
                <div class="form-group">
                  <label class="sr-only" for="idType">ID Type</label>
                  <select 
                      class="form-control"
                      name="idType"
                      id="idType"
                      placeholder="ID Type"
                    >
                      <option [ngValue]="null">Select</option>
                      <option *ngFor="let idType of idTypes" [ngValue]="idType">{{ idType }}</option>
                    </select>
                </div> 

                <div class="form-group">
                    <input 
                      type="file" 
                      class="form-control" 
                      name="idName" 
                      id="idName"
                      placeholder="ID Name"
                    >
                </div>
                <span id="idMessage"></span>  
                <button (click)="addId()" type="submit" class="btn btn-success new-policy"><span class="glyphicon glyphicon-plus"></span></button>
  
                <!-- Show added IDs -->
                <ul *ngIf="ids?.length > 0;" class=" list-group list-inline">
                  <li *ngFor="let id of ids" class="list-group-item-info">
                    {{ id.idName }} <small> ({{id.idType}}) </small>  
                    <span (click)="deleteId(id)" class="glyphicon glyphicon-remove delete" id="{{ id.idCode }}" style=""></span>
                  </li>
                </ul>

                <!-- <table *ngIf="ids?.length > 0;"  class="table table-striped table-bordered" >
                  <tr>
                    <th>ID Name</th>
                    <th>ID Type</th>
                    <th></th>
                  </tr>
                  <tr *ngFor="let id of ids">
                    <td>{{ id.idName }}</td>
                    <td>{{id.idType}} </td>
                    <td ><span (click)="deleteId(id)" class="glyphicon glyphicon-remove delete" id="{{ id.idCode }}" style="color: red;"></span></td>
                  </tr>
                </table> -->
              </form>
            </div><!-- Pn3 Bdy -->
          </div><!-- Pn3 Content  -->

      <!-- Rate Setup-->
      <div class="panel panel-default">
          <div class="panel-heading panel-grey-head">
            <h3 class="panel-title panel-grey-title text-bold"><strong>RATES SETUP</strong></h3>
          </div>
          <div class="panel-body">
            <form class="form-inline">
              <div class="form-group">
                <input 
                type="text" 
                class="form-control" 
                name="rateName" 
                id="rateName"
                placeholder="Rate Name"
              >
              </div>
              <div class="form-group">
                  <input 
                    type="number" 
                    class="form-control" 
                    name="rateDefaultValue" 
                    id="rateDefaultValue"
                    placeholder="Default Value"
                  >
                </div>      
                <span id="rateMessage"></span>
              <button (click)="addRate()" type="submit" class="btn btn-success new-policy"><span class="glyphicon glyphicon-plus"></span></button>

              <!-- Show added Commission -->
              <table *ngIf="rates?.length > 0;"  class="table table-striped table-bordered" >
                  <tr>
                    <th>Name</th>
                    <th>Default Value</th>
                    <th></th>
                  </tr>
                  <tr *ngFor="let rate of rates">
                    <td>{{ rate.rateName }}</td>
                    <td> {{ rate.rateDefaultValue }}</td>
                    <td ><span (click)="deleteRate(rate)" class="glyphicon glyphicon-remove delete" style="color: red;"></span></td>
                  </tr>
                </table>
            </form>
          </div><!-- Pn3 Bdy -->
        </div><!-- Pn3 Content  -->


          <!-- Benefits Setup -->
      <div class="panel panel-default">
          <div class="panel-heading panel-grey-head">
            <h3 class="panel-title panel-grey-title text-bold"><strong>BENEFIT SETUP</strong></h3>
          </div>
          <div class="panel-body">
            <form class="form-inline">
              <div class="form-group">
                  <input 
                  type="text" 
                  class="form-control" 
                  name="bftName" 
                  id="bftName"
                  placeholder="Benefit Name"
                >
              </div>
              <div class="form-group">
                  <input 
                  type="number" 
                  class="form-control" 
                  name="bftRate" 
                  id="bftRate"
                  placeholder="Default Rate"
                >
              </div>
              <div class="form-group">
                  <input 
                  type="number" 
                  class="form-control" 
                  name="bftNo" 
                  id="bftNo"
                  placeholder="Default No. of Emps"
                >
              </div>
              <div class="form-group">
                  <input 
                  type="number" 
                  class="form-control" 
                  name="bftMultBy" 
                  id="bftMultBy"
                  placeholder="Multiplying Factor"
                >
              </div>
              <span id="benefitMessage"></span>
              <button (click)="addBenefit()" type="submit" class="btn btn-success new-policy"><span class="glyphicon glyphicon-plus"></span></button>

              <!-- Show added Benefit -->
              <table *ngIf="benefits?.length > 0;"  class="table table-striped table-bordered" >
                  <tr>
                    <th>Name</th>
                    <th>Defualt Rate</th>
                    <th>No. of Employees</th>
                    <th>Multiplying Factor</th>
                    <th></th>
                  </tr>
                  <tr *ngFor="let benefit of benefits">
                    <td>{{ benefit.bftName}}</td>
                    <td>{{ benefit.bftRate  }} </td>
                    <td>{{ benefit.bftNo }} </td>
                    <td> {{ benefit.bftMultBy }}</td>
                    <td ><span (click)="deleteBenefit(benefit)" class="glyphicon glyphicon-remove delete" style="color: red;"></span></td>
                  </tr>
                </table>
            </form>
          </div><!-- Pn3 Bdy -->
        </div><!-- Pn3 Content  -->

        <!-- Commissions Setup-->
        <div class="panel panel-default">
            <div class="panel-heading panel-grey-head">
              <h3 class="panel-title panel-grey-title text-bold"><strong>COMMISSIONS SETUP</strong></h3>
            </div>
            <div class="panel-body">
              <form class="form-inline">
                <div class="form-group">
                  <input 
                  type="text" 
                  class="form-control" 
                  name="commName" 
                  id="commName"
                  placeholder="Commission Name"
                >
                </div>
                <div class="form-group">
                  <label class="sr-only" for="idType">Commission Calculated on </label>
                  <select 
                    class="form-control"
                    name="commType"
                    id="commType"
                    placeholder="Commission Type"
                  >
                    <option [ngValue]="null">Commission Type</option>
                    <option *ngFor="let commType of types" [ngValue]="commType">{{ commType }}</option>
                  </select>
                </div> 
                <div class="form-group">
                  <label class="sr-only" for="commCalcOn">Commission Calculated on </label>
                  <select 
                    class="form-control"
                    name="commCalcOn"
                    id="commCalcOn"
                    placeholder="Calculated On"
                  >
                    <option [ngValue]="null">Calculated On</option>
                    <option *ngFor="let calcOn of calcOns" [ngValue]="calcOn">{{ calcOn }}</option>
                  </select>
                </div> 
                <div class="form-group">
                    <input 
                      type="number" 
                      class="form-control" 
                      name="commDefaultValue" 
                      id="commDefaultValue"
                      placeholder="Default Value"
                    >
                  </div>   
                  <div class="form-group">
                    <input 
                      type="number" 
                      class="form-control" 
                      name="commVat" 
                      id="commVat"
                      placeholder="VAT"
                    >
                    </div>      
                  <span id="commissionMessage"></span>
                <button (click)="addCommission()" type="submit" class="btn btn-success new-policy"><span class="glyphicon glyphicon-plus"></span></button>
  
                <!-- Show added Commission -->
                <table *ngIf="commissions?.length > 0;"  class="table table-striped table-bordered" >
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Calculated On</th>
                      <th>Default Value</th>
                      <th>VAT</th>
                      <th></th>
                    </tr>
                    <tr *ngFor="let commission of commissions">
                      <td>{{ commission.commName }}</td>
                      <td>{{ commission.commType }} </td>
                      <td>{{ commission.commCalcOn }} </td>
                      <td> {{ commission.commDefaultValue }}</td>
                      <td>{{ commission.commVat }}</td>
                      <td ><span (click)="deleteCommission(commission)" class="glyphicon glyphicon-remove delete" style="color: red;"></span></td>
                    </tr>
                  </table>
              </form>
            </div><!-- Pn3 Bdy -->
          </div><!-- Pn3 Content  -->

          <!-- Discounts Setup -->
      <div class="panel panel-default">
          <div class="panel-heading panel-grey-head">
            <h3 class="panel-title panel-grey-title text-bold"><strong>DISCOUNT SETUP</strong></h3>
          </div>
          <div class="panel-body">
            <form class="form-inline">
              <div class="form-group">
                <input 
                  type="text" 
                  class="form-control" 
                  name="dsctName" 
                  id="dsctName"
                  placeholder="Discount Name"
                >
              </div>
              <div class="form-group">
                <label class="sr-only" for="dsctType">Discount Calculated on </label>
                <select 
                    class="form-control"
                    name="dsctType"
                    id="dsctType"
                    placeholder="Discount Type"
                  >
                    <option [ngValue]="null">Discount Type</option>
                    <option *ngFor="let dsctType of types" [ngValue]="dsctType">{{ dsctType }}</option>
                  </select>
              </div> 
              <div class="form-group">
                <label class="sr-only" for="dsctCalcOn">Discount Calculated on </label>
                <select 
                    class="form-control"
                    name="dsctCalcOn"
                    id="dsctCalcOn"
                    placeholder="Calculated On"
                  >
                    <option [ngValue]="null">Calculated On</option>
                    <option *ngFor="let calcOn of calcOns" [ngValue]="calcOn">{{ calcOn }}</option>
                  </select>
              </div> 
              <div class="form-group">
                  <input 
                    type="number" 
                    class="form-control" 
                    name="dsctDefaultValue" 
                    id="dsctDefaultValue"
                    placeholder="Default Value"
                  >
                </div>      
                <span id="discountMessage"></span>  
              <button (click)="addDiscount()" type="submit" class="btn btn-success new-policy"><span class="glyphicon glyphicon-plus"></span></button>

              <!-- Show added Discounts -->
              <table *ngIf="discounts?.length > 0;"  class="table table-striped table-bordered" >
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Calculated On</th>
                  <th>Default Value</th>
                  <th></th>
                </tr>
                <tr *ngFor="let discount of discounts">
                  <td>{{ discount.dsctName }}</td>
                  <td>{{ discount.dsctType }} </td>
                  <td>{{ discount.dsctCalcOn }} </td>
                  <td> {{ discount.dsctDefaultValue }}</td>
                  <td ><span (click)="deleteDiscount(discount)" class="glyphicon glyphicon-remove delete" id="{{ id.idCode }}" style="color: red;"></span></td>
                </tr>
              </table>
            </form>
          </div>
        </div>

         <!-- Loadings Setup -->
      <div class="panel panel-default">
          <div class="panel-heading panel-grey-head">
            <h3 class="panel-title panel-grey-title text-bold"><strong>LOADING SETUP</strong></h3>
          </div>
          <div class="panel-body">
            <form class="form-inline">
              <div class="form-group">
                  <input 
                  type="text" 
                  class="form-control" 
                  name="loadName" 
                  id="loadName"
                  placeholder="Loading Name"
                  required
                >
              </div>
              <div class="form-group">
                <label class="sr-only" for="idType">Discount Calculated on </label>
                <select 
                  class="form-control"
                  name="loadType"
                  id="loadType"
                  placeholder="Loading Type"
                  required
                >
                  <option [ngValue]="null">Loading Type</option>
                  <option *ngFor="let loadType of types" [ngValue]="loadType">{{ loadType }}</option>
                </select>
              </div> 
              <div class="form-group">
                <label class="sr-only" for="idType">Loading Calculated on </label>
                <select 
                  class="form-control"
                  name="loadCalcOn"
                  id="loadCalcOn"
                  placeholder="Calculated On"
                >
                  <option [ngValue]="null">Calculated On</option>
                  <option *ngFor="let calcOn of calcOns" [ngValue]="calcOn">{{ calcOn }}</option>
                </select>
              </div> 
              <div class="form-group">
                  <input 
                    type="number" 
                    class="form-control" 
                    name="loadDefaultValue" 
                    id="loadDefaultValue"
                    placeholder="Default Value"
                  >
                </div>  
                <span id="loadingMessage"></span>      
              <button (click)="addLoading()" type="submit" class="btn btn-success new-policy"><span class="glyphicon glyphicon-plus"></span></button>

              <!-- Show Added Loadings -->
              <table *ngIf="loadings?.length > 0;"  class="table table-striped table-bordered" >
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Calculated On</th>
                  <th>Default Value</th>
                  <th></th>
                </tr>
                <tr *ngFor="let loading of loadings">
                  <td>{{ loading.loadName }}</td>
                  <td>{{ loading.loadType }} </td>
                  <td>{{ loading.loadCalcOn }} </td>
                  <td> {{ loading.loadDefaultValue }}</td>
                  <td ><span (click)="deleteLoading(loading)" class="glyphicon glyphicon-remove delete" style="color: red;"></span></td>
                </tr>
              </table>
            </form>
          </div><!-- Pn3 Bdy -->
        </div><!-- Pn3 Content  -->

         <!-- Clauses Setup -->
      <div class="panel panel-default">
          <div class="panel-heading panel-grey-head">
            <h3 class="panel-title panel-grey-title text-bold"><strong>CLAUSE SETUP</strong></h3>
          </div>
          <div class="panel-body">
            <form class="form-inline">
              <div class="form-group">
                <input 
                type="text" 
                class="form-control" 
                name="clsName" 
                id ="clsName"
                placeholder="Clause Name"
                >
              </div>
              <span id="clauseMessage"></span>
              <button (click)="addClause($event)" type="submit"  class="btn btn-success new-policy"><span class="glyphicon glyphicon-plus"></span></button>

              <ul *ngIf="clauses?.length > 0;" class=" list-group list-inline">
                <li *ngFor="let clause of clauses" class="list-group-item-info">
                  {{ clause.clsName }} 
                  <span (click)="deleteClause(clause)" class="glyphicon glyphicon-remove delete" id="{{ id.idCode }}" style=""></span>
                </li>
              </ul>

              <!-- <div class="list">
                    <span *ngIf="clauses?.length > 0;" >
                        <span *ngFor="let clause of clauses" class="label label-primary"> 
                          {{ clause.clsCode }} {{ clause.clsName }} {{ clause.clsPolCode }} 
                          <span (click)="deleteClause(clause)" class="glyphicon glyphicon-remove delete" id="{{ clause.clsCode }}"></span>
                        </span> 
                      
                    </span>  
                </div>   -->
            </form>
          </div><!-- Pn3 Bdy -->
        </div><!-- Pn3 Content  -->

         <!-- Extensions Setup -->
      <div class="panel panel-default">
          <div class="panel-heading panel-grey-head">
            <h3 class="panel-title panel-grey-title text-bold"><strong>EXTENSION SETUP</strong></h3>
          </div>
          <div class="panel-body">
            <form class="form-inline">
              <div class="form-group">
                  <input 
                  type="text" 
                  class="form-control" 
                  name="extName" 
                  id="extName"
                  placeholder="Extension Name"
                >
              </div>
              <span id="extensionMessage"></span>
              <button (click)="addExtension()" type="submit" class="btn btn-success new-policy"><span class="glyphicon glyphicon-plus"></span></button>

              <ul *ngIf="extensions?.length > 0;" class=" list-group list-inline">
                  <li *ngFor="let extension of extensions" class="list-group-item-info">
                      {{ extension.extName }}
                    <span (click)="deleteExtension(extension)" class="glyphicon glyphicon-remove delete"></span>
                  </li>
                </ul>

            </form>
          </div><!-- Pn3 Bdy -->
        </div><!-- Pn3 Content  -->
     
      <!-- <form #subclassForm="ngForm" (ngSubmit)="onSubmit(subclass)">
          <div class="form-group col-sm-6">
            <label for="sclShtDesc" class=" control-label">Subclass Name</label>
            <div >
              <input 
              type="text" 
              class="form-control" 
              name="sclShtDesc"
              #subclassName="ngModel"
              [ngClass]="{'is-invalid': subclassName.errors && subclassName.touched}"
              [(ngModel)]="subclass.sclName"
              required 
            >
            <div [hidden]="!subclassName.errors?.required" class="invalid-feedback">
                Subclass name required
              </div>
            </div>
          </div>
  
          <div class="form-group col-sm-6">
            <label for="sclCode" class=" control-label">Subclass Code</label>
            <div >
              <input 
              type="text" 
              class="form-control" 
              name="sclCode" 
              #subclassCode="ngModel"
              [ngClass]="{'is-invalid': subclassCode.errors && subclassCode.touched}"
              [(ngModel)]="subclass.sclCode"
              required 
            >
            <div [hidden]="!subclassCode.errors?.required" class="invalid-feedback">
                Subclass Code required
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="sclDesc" class=" control-label">Subclass Description</label>
            <div >
              <input 
                type="text" 
                class="form-control" 
                name="sclDesc"
                #subclassDescription="ngModel"
                [(ngModel)]="subclass.sclDesc" 
              >
            </div>
          </div>          
          <div class="form-group col-sm-6">
              <label for="sclClaCode" class=" control-label">Class Code</label>
            <select 
              class="form-control"
              name="sclClaCode"
              [(ngModel)]="subclass.sclClaCode"
              required
            >
              <option [ngValue]="class.claCode">{{ class.claShtDesc }}</option>
              <option *ngFor="let c of classes" [ngValue]="c.claCode">{{ c.claShtDesc }}</option>
            </select>
          </div>
          <button class="btn btn-block btn-success">UPDATE SUBCLASS</button>
      </form> -->
    
    
    </div> <!---- end of <div id="main-content">---->
    </div> <!----end of <div id="container">---->
    </div>  <!----end of <div id="content-area">---->