
<div id="content-area">
    <div id="container">
    <h1 class="page-title"> RISK LIMIT DETAILS </h1>
    <div id="main-content">
     <div class="row">
     <form #quoteRiskLimitForm="ngForm" (ngSubmit)="onSubmit(quoteRiskLimitForm)">
      <div class="col-md-6">       
        <div class="form-group">
          <label for="agent">Section </label>
          <select 
          class="form-control"
          name="riskSectionCode"
          [(ngModel)]="quoteRiskLimit.riskSectionCode" 
          required
          >
            <option [ngValue]="quoteRiskLimit.riskSectionCode">{{ quoteRiskLimit.riskSectionCode }}</option>
            <option *ngFor="let s of sections" [ngValue]="s.code">{{ s.name }} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="limitAmount">Limit Amount</label>
          <input 
            type="number" 
            class="form-control" 
            name="limitAmount"
            #quoteLimitAmount="ngModel"
            [(ngModel)]="quoteRiskLimit.limitAmount" 
            (keyup)="getLimitAmount($event)"
            required
          >
        </div>
        <div class="form-group">
          <label for="premiumRate">Premium Rate</label>
          <input 
            type="number" 
            class="form-control" 
            name="premiumRate"
            #quotePremiumRate="ngModel"
            [(ngModel)]="quoteRiskLimit.premiumRate" 
            (keyup)="getPremiumRate($event.target.value)"
            required
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="rateDivisionFactor">Rate Division Factor</label>
          <input 
            type="number" 
            class="form-control" 
            name="rateDivisionFactor"
            #quoteRateDivisionFactor="ngModel"
            [(ngModel)]="quoteRiskLimit.rateDivisionFactor" 
            (keyup)="getRateDivisionFactor($event.target.value)"
            required
          >
        </div>
        <div class="form-group">
          <label for="premiumAmount">Premium Amount</label>
          <input 
            type="number" 
            class="form-control" 
            name="premiumAmount"
            #quotePremiumAmount="ngModel"
            [(ngModel)]="premiumAmount" 
            required
            disabled
          >
        </div>
        <div class="form-group">
          <label for="commissionAmount">commission Amount</label>
          <input 
            type="number" 
            class="form-control" 
            name="commissionAmount"
            #quoteCommissionAmount="ngModel"
            [(ngModel)]="commissionAmount" 
            required
            disabled
          >
        </div>
      </div>
      
      <div id="rule"></div> 
      <button  class="btn btn-info pull-right">Update&nbsp; </button>
      
      </form>
    </div>
    
      
    </div> <!---- end of <div id="main-content">---->
    </div> <!----end of <div id="container">---->
    </div>  <!----end of <div id="content-area">---->
    