<div id="content-area">
  <div id="container">
  <h1 class="page-title"> EDIT SECTION</h1>
  <div id="main-content">
   
    <form #sectionForm="ngForm" (ngSubmit)="onSubmit(section)">
      <div class="form-group col-sm-6">
        <label for="name" class=" control-label">Section Name</label>
        <input 
          type="text"   
          class="form-control" 
          name="sectShtDesc" 
          #sectionName="ngModel"
          [ngClass]="{'is-invalid': sectionName.errors && sectionName.touched}"
          [(ngModel)]="section.sectShtDesc"
          required
        >
        <div [hidden]="!sectionName.errors?.required" class="invalid-feedback">
          Section Name required
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="code" class=" control-label">Section Code</label>
        <input 
          type="text" 
          class="form-control" 
          name="sectCode" 
          #sectionCode="ngModel"
          [ngClass]="{'is-invalid': sectionCode.errors && sectionCode.touched}"
          [(ngModel)]="section.sectCode"
          required
        >
        <div [hidden]="!sectionCode.errors?.required" class="invalid-feedback">
          Section Code required
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="description" class=" control-label">Section Description</label>
        <input 
          type="text" 
          class="form-control" 
          name="sectDesc"
          #sectionDescription="ngModel"
          [ngClass]="{'is-invalid': sectionDescription.errors && sectionDescription.touched}"
          [(ngModel)]="section.sectDesc"
          required 
        >
      </div>
      <div class="form-group col-sm-6">
        <label for="type" class=" control-label">Section Type</label>
        <input 
          type="text" 
          class="form-control" 
          name="sectType" 
          #sectionType="ngModel"
          [ngClass]="{'is-invalid': sectionType.errors && sectionType.touched}"
          [(ngModel)]="section.sectType"
          required 
        >
      </div>
        <button class="btn btn-block btn-success">EDIT SECTION</button>
    </form>
  
  
  </div> <!---- end of <div id="main-content">---->
  </div> <!----end of <div id="container">---->
  </div>  <!----end of <div id="content-area">---->