<div id="content-area">
  <div id="container">
  <h1 class="page-title"> DISCOUNTS SETUPS</h1>
  <div id="main-content">
   <form class="form-inline" #discountForm="ngForm" (ngSubmit)="onSubmit(discountForm)">
    <div class="form-group">
      <label class="sr-only" for="dsctCode">Discount Code</label>
      <input 
        type="number" 
        class="form-control" 
        name="dsctCode" 
        placeholder="Discount Code"
        [(ngModel)]="dsctCode"
        #code="ngModel"
        [ngClass]="{'is-invalid': code.errors && code.touched}"
        required
      >
    </div>

    <div class="form-group">
      <label class="sr-only" for="discountName">Discount Name</label>
      <input 
        type="text" 
        class="form-control" 
        name="dsctName" 
        placeholder="Discount Name"
        [(ngModel)]="dsctName"
        #name="ngModel"
        [ngClass]="{'is-invalid': name.errors && name.touched}"
        required
      >
    </div>

    <div class="form-group">
      <label class="sr-only" for="idType">Discount Calculated on </label>
      <!-- <input type="text" class="form-control" name="idType" placeholder="ID Type"> -->
      <select 
          class="form-control"
          name="dsctType"
          placeholder="Discount Type"
          [(ngModel)] = "dsctType"
          #dsct = "ngModel"
          [ngClass]="{'is-invalid': dsct.errors && dsct.touched}"
          required
        >
          <option [ngValue]="null">Discount Type</option>
          <option *ngFor="let dsctType of dsctTypes" [ngValue]="dsctType">{{ dsctType }}</option>
        </select>
    </div>    

    <div class="form-group">
      <label class="sr-only" for="idType">Discount Calculated on </label>
      <!-- <input type="text" class="form-control" name="idType" placeholder="ID Type"> -->
      <select 
          class="form-control"
          name="bftCalcOn"
          placeholder="Calculated On"
          [(ngModel)] = "calcOn"
          #calc = "ngModel"
          [ngClass]="{'is-invalid': calc.errors && calc.touched}"
          required
        >
          <option [ngValue]="null">Calculated On</option>
          <option *ngFor="let calcOn of calcOns" [ngValue]="calcOn">{{ calcOn }}</option>
        </select>
    </div>    
    
    <!-- <button type="submit" class="btn btn-primary">Search</button> -->
    <button type="submit" class="btn btn-success">Add Discount</button>
    
    <div class="table-responsive" style="margin-top:30px;">
    <table *ngIf='discounts?.length > 0 ; else noDiscounts' class="table table-hover">
      <tr>
        <th>Discount Code</th>
        <th>Discount Name</th>
        <th>Discount Calculate On</th>
      </tr>
      <tr *ngFor="let discount of discounts">
        <td>{{ discount.bftCode }}</td>
        <td>{{ discount.bftName }}</td>
        <td>{{ discount.bftCalcOn }}</td>
        <td><a (click)="delete(discount)" class="btn btn-secondary"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a></td>
      </tr>
    </table>

    <ng-template #noDiscounts>
      <h5>There are no discounts in the system</h5> 
    </ng-template>

  </div>
  </form>
  
  
  
  </div> <!---- end of <div id="main-content">---->
  </div> <!----end of <div id="container">---->
  </div>  <!----end of <div id="content-area">---->